<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width initial-scale=1.0")
	link(rel="stylesheet", href="css/style.css")
	title Document
body
	include ./partials/partials.pug

	h3 this is an h3 heading on index.pug

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quis aliquid vitae, libero, dolor exercitationem nobis ex, cupiditate iste nisi laboriosam a maxime at assumenda officiis suscipit. Ab illum, odit.
	p Dolor consequuntur dolorum, dignissimos aspernatur quod quae illo sit molestiae fugit est consectetur voluptate odit animi adipisci ipsam explicabo, eveniet nam blanditiis iste sint. Eos voluptates asperiores et facere aspernatur.
	p Minima odio sed non accusantium voluptatum molestias, velit saepe omnis. At dignissimos reiciendis quos voluptate maxime inventore placeat doloremque, nulla illo! Soluta praesentium libero velit sed minima? Laudantium, velit, ab?
	p Autem consectetur magni officiis eaque ipsum. Nemo laborum quo illum minima tempora commodi molestiae, quidem amet. Accusamus tempora odio repellendus reprehenderit quas consequatur, dolore, inventore temporibus aliquid sed beatae rem.
	p Nisi porro, velit reiciendis ad, magnam a impedit, saepe architecto rem labore veritatis omnis adipisci eveniet tenetur id, nemo! Quidem maiores quod rem esse in, atque iusto eligendi fuga sapiente.
	p Debitis at earum labore iure nesciunt animi cum placeat, natus inventore consequatur. Esse assumenda, illo quod sequi a, hic totam cupiditate dolores porro cum debitis dolorum maxime enim doloremque quos.
	p Voluptate amet labore deserunt et velit veritatis harum eius sapiente quidem, rem a perspiciatis. Sunt nisi quo repellendus architecto praesentium! Accusamus ad quod qui temporibus eos assumenda unde quibusdam ullam.
	p Laboriosam dolores, necessitatibus dolore nihil at repellendus soluta nulla adipisci, possimus placeat voluptatibus ducimus aliquid minima, beatae! Exercitationem blanditiis maxime, eos, vero natus autem laudantium dolore voluptatum, numquam consequuntur modi!
	p Repellendus blanditiis voluptatem vitae numquam suscipit molestiae cumque, ratione distinctio accusantium quo reiciendis ex tenetur cum et, minima modi vero. Quaerat beatae quo, nisi unde deleniti incidunt quam ipsum fuga?
	p Enim excepturi reiciendis, nulla cumque, quo, neque fuga, illo delectus perferendis non in nesciunt natus placeat. Debitis fuga at unde, minima nemo doloremque autem fugiat recusandae suscipit cum odio commodi.
	p Sint maxime accusamus assumenda soluta repellendus ipsum laborum reprehenderit provident adipisci, blanditiis illo, maiores tenetur a cumque deleniti porro hic perspiciatis nostrum voluptate obcaecati aperiam itaque eveniet, voluptatibus alias! Magnam.
	p Eaque quo, minima modi commodi quibusdam explicabo delectus ducimus at aperiam illo! Repellendus molestiae consequatur saepe optio neque. Deleniti exercitationem mollitia culpa qui reiciendis libero harum sapiente, voluptas id sed.
	p Soluta repudiandae cum quae hic labore eum obcaecati molestias, ducimus fuga cumque omnis est eaque minus sint eius. Perspiciatis quasi reprehenderit nulla sed illo necessitatibus assumenda, culpa, deleniti fuga hic.
	p Nisi, aperiam aspernatur ex tenetur voluptates, sint, nihil corrupti libero maiores illum fugiat. Explicabo dignissimos atque alias totam nisi nulla, sequi officiis esse rem culpa, quia a aliquam. Similique, eligendi.
	p Corporis, harum. Itaque natus, nihil provident ipsa, sunt eligendi dicta blanditiis expedita magnam deleniti quas incidunt porro id cum vitae, consequuntur neque suscipit a cupiditate debitis, officia et quis. Illum!
	p Impedit, ipsam quam non. Neque mollitia recusandae possimus expedita ratione ullam accusamus dolores voluptate obcaecati eligendi fugit ipsa incidunt, reiciendis repellat voluptatum autem! Et sequi, eveniet dolores hic, maiores provident.
	p Pariatur, ratione. Sint culpa est, laborum perspiciatis autem atque quisquam, odit necessitatibus sed maxime ad eos debitis libero aperiam placeat officia iste magni minus distinctio nihil, dolores alias. In, delectus.
	p Voluptas autem doloremque explicabo fuga, illo odio ullam quo numquam quis iure rerum neque, assumenda tenetur aspernatur minima. Tenetur ut mollitia temporibus eligendi ad dolore quas, itaque necessitatibus inventore iure.
	p Quod similique at itaque ullam, porro minima pariatur molestias aut nemo consequatur. Velit consectetur molestiae itaque dolorum mollitia magnam porro voluptatibus ratione dicta blanditiis quasi aspernatur tenetur ab laudantium, fuga.
	p Ad qui debitis minus labore deleniti ducimus ipsum soluta maiores nobis, aut autem veritatis eligendi magni error animi sequi iure eos incidunt placeat sed distinctio, itaque fugiat necessitatibus! Molestias, ut!
	p Vitae ratione, soluta blanditiis adipisci harum quasi. Quidem vitae eos, ea voluptatibus, possimus dolorem minima error, repellendus repellat temporibus ratione. Ut architecto dolores unde dolorem eos cupiditate officiis repellendus aliquam.
	p Cumque, voluptatum reiciendis unde nemo! Quo velit laborum voluptatibus nemo accusantium veniam rerum nihil iste numquam obcaecati corporis error similique, debitis tempora quod dolores praesentium esse unde aliquam accusamus exercitationem!
	p Quis, numquam modi. Sapiente laboriosam iste ea odit reiciendis perferendis quo expedita qui illo eius? Dolores eligendi facilis repellat tenetur quo vel enim, qui, officiis magnam labore dolor ex ut.
	p Ex nobis, aliquam quidem eius sunt maiores odio atque iste quo odit. Enim nemo eveniet ratione recusandae consequuntur aspernatur a, rerum, maxime quam omnis reprehenderit accusamus velit adipisci sapiente tempore.
	p Veniam, quis? Ut neque perferendis, ad fugiat laboriosam itaque non assumenda libero numquam quos beatae illo doloribus, natus ipsa? Quas fugiat enim, odit iusto delectus totam magnam, architecto impedit ipsum.
	p Numquam voluptatibus quis autem! Minima maxime quam eum rem dicta similique, porro natus, accusamus ut unde libero dolore nisi, sit temporibus in sint molestias excepturi officia provident. Alias, nobis, maiores?
	p A magnam perspiciatis laborum odit dolor temporibus nemo iusto quidem sunt voluptatum, dolorem at repudiandae, amet deleniti nobis? Maiores eos enim, qui amet eaque odio ex, porro explicabo doloremque non.
	p Aspernatur molestias doloremque explicabo vero consectetur sequi iure a beatae, facilis inventore asperiores maxime minus facere, animi qui fuga. Suscipit maxime animi dolore molestiae harum rem non illo, quaerat reiciendis!
	p Tempore saepe ab laboriosam quibusdam aliquid tenetur impedit odio amet libero magnam, hic neque assumenda, dolorum sit consequuntur excepturi doloremque omnis eum eos nulla culpa. Cum soluta officiis assumenda vitae.
	p Dolor facilis laborum, laboriosam nisi saepe tempore ad error, modi. Eos rem aliquid saepe sit at eum hic totam nisi, perspiciatis ipsum veniam tempora distinctio deserunt explicabo, sequi fugiat, voluptates.

	script(src="js/main.js")
	