// Variables

$gray: #cccccc;
$white: #ffffff;
$red: #ff0000;

body {
  background-color: $gray;
  color: $white;
}

.box {
  background-color: $white;
  color: $red;
  display: flex;
}

@keyframes animar {
  0% {
    width: 20px;
  }

  100% {
    width: 300px;
  }
}